<div id='tags'>
    <div id="tag-list-header">
        Tag
    </div>
    <div id='tag-list'>
        <a href="javascript:void(0)" class="tag-link selected-tag" tag-id="all">
            <span class="tag-label">すべてのタグ</span>
        </a>
        <% tags.each do |tag| %>
            <a href="javascript:void(0)" class="tag-link" tag-id="<%= tag.id %>">
                <span class="tag-label"><%= tag.label %></span>
            </a>
        <% end %>
    </div>
    <div id="tag-list-footer">
    </div>
</div>
