<div id="container">
    <div id="primary-contents">
        <div id='status'>
        </div>
        <div id="learning-area">
            <div id="target-tag" tag-id="all">
                <div class="title">
                    Target Tag
                </div>
                <div class="tag-name">
                    すべてのタグ
                </div>
            </div>
            <div id='category-selector'>
                <div class="category" category="learning">
                    <div class="web-icon-fontello category-arrow category-closing-label">2</div>
                    <div class="web-icon-fontello category-arrow category-opening-label"style="display: none">3</div>
                    <div class="category-label">Learning</div>
                    <div class="words-count"><%= @count_of_learning %></div>
                </div>
                <div class="category" category="test">
                    <div class="web-icon-fontello category-arrow category-closing-label">2</div>
                    <div class="web-icon-fontello category-arrow category-opening-label" style="display: none">3</div>
                    <div class="category-label">Test</div>
                    <div class="words-count"><%= @count_of_test %></div>
                </div>
            </div>
           <div id="learning-screen">
                <div id='learning-panels'>
                </div>
                <div class="word-control-panel">
                    <button class="controll-button step-button previous-step-button">
                        <span class="web-icon-fontello">a</span>
                    </button>
                    <button class="controll-button answer-correct-button">
                        <span class="web-icon-fontello">e</span>
                    </button>
                    <button class="controll-button answer-mistake-button">
                        <span class="web-icon-fontello">f</span>
                    </button>
                    <button class="controll-button send-result-button" style="display: none;">
                        <span>SEND RESULT</span>
                    </button>
                    <button class="controll-button step-button next-step-button">
                        <span class="web-icon-fontello">b</span>
                    </button>
                </div>
           </div>
            <div id="learning-area-footer">
                <div id="quit-learning-label" style="display: none">
                    <span class="web-icon-fontello">4</span>
                    <span>QUIT</span>
                </div>
            </div>
       </div>
    </div>
    <div id="secondary-contents">
        <%= render :partial => 'tag_list_for_learning', :locals => {:tags => @tags} %>
    </div>
</div>
