@font-face {
    font-family: 'FontelloFonts';
    src: url("../fonts/fontello.eot");
    src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#fontello") format('svg');
}

.web-icon-fontello {
    font-family: 'FontelloFonts';
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
}

/* Mac OS版IEには適用しない ＼*/
* html .clearfix { height: 1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/**/

input, button {
    outline: none;
}

input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0px;
}

button::-moz-focus-inner {
    border :0px;
}

html, body {
    height: 100%;
}

html {
    overflow: scroll;
    overflow: -moz-scrollbars-vertical;
    overflow-x: scroll;
    background-color: #F1F1F1;
}

body {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', meiryo, 'メイリオ', sans-serif;
    font-size: 13px;
    *font-size:small;
    * font:x-small;
}

a:focus {
    outline: none;
}

#header {
    position: relative;
    height: 50px;
    width: 100%;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#primary-contents {
    float: right;
    width: 650px;
}

#secondary-contents {
    float: left;
    width: 250px;
}

#tag-list {
    background-color: #ffffff;
    margin: 0px 4px 0px 4px;
    padding: 5px 5px 5px 5px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}

#tag-list-header {
    background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -o-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FEFEFE), color-stop(1.0, #F0F0F0));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMEYwRjAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNDQpIiAvPgo8L3N2Zz4=);<![endif]-->
    background-color: #ffffff;
    margin: 3px 4px 0px 4px;
    padding: 3px 5px 3px 5px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    color: #696969;
    border: 1px solid #bfbfbf;
}

#tag-list-footer {
    background-color: #ffffff;
    margin: 0px 4px 5px 4px;
    padding: 6px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #bfbfbf;
    border-top: none;
}

#tag-list .tag-link {
    display: block;
    margin: 2px 0px 2px 0px;
    font-size: 100%;
    text-decoration: none;
}

#tag-list .tag-link:hover {
    text-decoration: underline;
    color: #2569c7;
}

#tag-list .tag-link .tag-label {
    color: #2569c7;
}

#tag-list .tag-link .tag-count {
    color: #393939;
}

#tag-list .selected-tag .tag-label {
    color: #393939;
}

#tag-list .selected-tag .tag-count {
    color: #393939;
}

#about {
    background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -o-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FEFEFE), color-stop(1.0, #F0F0F0));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMEYwRjAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNDQpIiAvPgo8L3N2Zz4=);<![endif]-->
    background-color: #ffffff;
    margin: 3px 4px 0px 4px;
    padding: 3px 5px 3px 5px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    color: #393939;
    border: 1px solid #bfbfbf;
}

#about a {
    text-decoration: none;
    color: #393939;
}

#global-nav-holder {
    background-color: #2b2b2b;
    z-index:1;
    width: 100%;
    padding-top: 3px;
    -webkit-box-shadow: 1px 1px 3px #808080;
    -moz-box-shadow: 1px 1px 3px #808080;
    box-shadow: 1px 1px 3px #808080;
}

#global-nav {
    margin: 0 auto;
    width: 900px;
    height: 35px;
    font-size: 14px;
}

#global-nav li {
    list-style: none;
    float: left;
}

#global-nav li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 13px;
    display: block;
}
#global-nav li a:hover {
    background: #666;
}

#logo {
    margin: 5px 0px 0px 3px;
    float: left;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
    top: 0;
}

#tool-holder {
    float: right;
}

#search-box {
    width: 120px;
    height: 17px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 3px;
    font-size: 14px;
}

#search-box.web-icon-fontello {
    color: #696969;
}

.tool-btn {
    background-color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 7px;
    height: 25px;
    width: 28px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.tool-btn:active {
    background: #730000;
}

#create-word-btn {
    background:
        url(../images/WriteNew.png) no-repeat 6px 3px,
        #ffffff;
    cursor: pointer;
}

#create-word-btn:hover {
    background:
        url(../images/WriteNew_hover.png) no-repeat 6px 3px,
        #e00000;
}

#list-switch-btn {
    cursor: pointer;
}

#list-switch-btn.open-btn {
    background:
        url(../images/Book_open.png) no-repeat 4px 3px,
        #ffffff;
}

#list-switch-btn.close-btn {
    background:
        url(../images/Book_close.png) no-repeat 6px 3px,
        #ffffff;
}

#list-switch-btn.open-btn:hover {
    background:
        url(../images/Book_open_hover.png) no-repeat 4px 3px,
        #e00000;
}

#list-switch-btn.close-btn:hover {
    background:
        url(../images/Book_close_hover.png) no-repeat 6px 3px,
        #e00000;
}

#create-word-btn .icon-text {
    padding: 3px 5px;
}

#list-switch-btn .icon-text {
    padding: 4px 9px;
}

#test-words-count {
    background-color: #FFFFFF;
    padding: 1px 2px;
    margin-left: 2px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #3b3b3b;
    font-size: 10px;
}

#user-info {
    margin: 4px 10px 0px 15px;
    overflow: hidden;
}

#user-icon {
    margin-right: 8px;
    float: left;
}

#user-icon img {
    max-width: 25px;
    max-height: 25px;
    -ms-interpolation-mode:nearest-neighbor; /* IE 7+ */
    image-rendering: -moz-crisp-edges;       /* Fx, (Gecko 1.9.2) */
}

#user-name {
    padding-top: 5px;
    float: left;
    color: #ffffff;
    font-size: 14px;
}

#login-contents {
    margin-top: 50px;
    float: left;
    position: relative;
    left: 50%;
}

#big-icon {
    margin-right: 10px;
    float: left;
    position: relative;
    left: -50%;
}

#headline {
    margin: 20px 0px 0px 20px;
    font-size: 30px;
    float: left;
    color: black;
    position: relative;
    left: -50%;
}

#user-nav {
    margin: 30px 0px 0px 0px;
    width: 390px;
    height: 45px;
    clear: both;
    overflow: hidden;
}

#twitter-login-button {
    float: left;
    margin: 0px 11px 0px 3px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px 10px 45px;
    cursor: pointer;
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -moz-linear-gradient(top,#1fa2ff 0%,#0a5db0);
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -o-linear-gradient(top,#1fa2ff 0%,#0a5db0);
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -webkit-gradient(linear, left top, left bottom, from(#1fa2ff), to(#0a5db0));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNjYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMxRkEyRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwQTVEQjAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNjYpIiAvPgo8L3N2Zz4=);<![endif]-->
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}

#twitter-login-button:hover {
    float: left;
    margin: 0px 11px 0px 3px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px 10px 45px;
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -moz-linear-gradient(top, #88c6f2 0%, #467fb8);
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -o-linear-gradient(top, #88c6f2 0%, #467fb8);
    background:
        url(../images/twitbird.png) no-repeat 10px 7px,
        -webkit-gradient(linear, left top, left bottom, from(#88c6f2), to(#467fb8));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyODciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM4OEM2RjIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM0NjdGQjgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyODcpIiAvPgo8L3N2Zz4=);<![endif]-->
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}

#facebook-login-button {
    float: left;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px 10px 35px;
    cursor: pointer;
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -moz-linear-gradient(top, #1279c7 0%, #003366);
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -o-linear-gradient(top, #1279c7 0%, #003366);
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -webkit-gradient(linear, left top, left bottom, from(#1279c7), to(#003366));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyMjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMxMjc5QzciIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDMzNjYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyMjUpIiAvPgo8L3N2Zz4=);<![endif]-->
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}

#facebook-login-button:hover {
    float: left;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 15px 10px 35px;
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -moz-linear-gradient(top, #5298c7 0%, #3e668f);
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -o-linear-gradient(top, #5298c7 0%, #3e668f);
    background:
        url(../images/facebook.png) no-repeat 13px 4px,
        -webkit-gradient(linear, left top, left bottom, from(#5298c7), to(#3e668f));
    <!--[if gte IE 6 ]>background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczNjMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM0RDhDQjgiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyQjQ3NjMiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2czNjMpIiAvPgo8L3N2Zz4=);<![endif]-->
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #003366;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}

#apl-3step {
    float: left;
    position: relative;
    left: 50%;
    margin-top: 60px;
    clear: both;
}

.step-box {
    position: relative;
    left: -50%;
    width: 230px;
    float: left;
}

#step1, #step2 {
    margin-right: 30px;
}

.step-main-text {
    margin-bottom: 10px;
    font-size: 21px;
}

.step-sub-text {
    font-size: 15px;
    line-height: 1.4em;
}

#footer {
    clear: both;
}
