#learning-screen, #learning-panels .step {
    display: none;
}

#learning-screen.active, #learning-screen .active {
    display: block;
}

#learning-area {
    margin: 0px 10px 0px 10px;
}

#target-tag {
    padding: 5px 10px;
    -webkit-border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
    border-radius: 9px 9px 0px 0px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FEFEFE), color-stop(1.0, #F0F0F0));
}

#target-tag .tag-name {
    color: #696969;
    font-size: 20px;
}

#target-tag .title {
    margin-bottom: 4px;
    color: #939393;
    font-size: 12px;
}

#category-selector.disable .category {
    display: none;
}

#category-selector.disable .category.selected {
    display: block;
}

#category-selector .category {
    min-height: 38px;
    background-color: #ffffff;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    color: #4c4c4c;
    font-size: 20px;
}

#category-selector .category:hover,
#category-selector .category.blink {
    color: #ffffff;
    background-color: #424242;
}

#category-selector.disable .category:hover {
    color: #4c4c4c;
    background-color: #ffffff;
}

.category-arrow {
    width: 30px;
    padding-top: 8px;
    float: left;
}

.category .category-label {
    width: 120px;
    padding-top: 8px;
    float: left;
}

.category .words-count {
    float: left;
    background-color: #FFCECE;
    color: #D6403E;
    margin-top: 6px;
    padding: 3px 8px 3px 8px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    /*border: 2px solid #AAAAAA;*/
    font-size: 17px;
}

#category-selector .category:hover .words-count {
    color: #4c4c4c;
    background-color: #ffffff;
}

#category-selector.disable .category:hover .words-count {
    color: #D6403E;
    background-color: #FFCECE;
}

#learning-screen {
    background-color: #ffffff;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    padding: 15px 20px 15px 20px;
}
#learning-area-footer {
    background-color: #ffffff;
    height: 40px;
    -webkit-border-radius: 0px 0px 9px 9px;
    -moz-border-radius: 0px 0px 9px 9px;
    border-radius: 0px 0px 9px 9px;
    border-bottom: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}

#learning-panels {
    height: 260px;
    position: relative;
    color: #4c4c4c;
}

#learning-panels .spelling {
    margin: 0px 0px 10px 0px;
    font-size: 197%;
}

#learning-panels .description .close {
    display: none;
}

#learning-panels .description .open {
    height: 180px;
    width: 540px;
    font-size: 123.1%;
    position: absolute;
    top: 45px;
    left: 10px;
}

#learning-panels .blind .close {
    margin: 10px 0px 10px 0px;
    height: 200px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #bfbfbf;
    -moz-box-shadow:
    3px 3px 2px rgba(000,000,000,0.1),
    inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow:
    3px 3px 2px rgba(000,000,000,0.1),
    inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow:
    1px 1px 3px rgba(000,000,000,0.1),
    inset 0px 0px 1px rgba(255,255,255,1);
    background: -moz-linear-gradient(
    top,
    #dbdbdb 0%,
    #c2c2c2);
    background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#dbdbdb),
    to(#c2c2c2));
    font-size: 250%;
    color: #696969;
    text-align: center;
    line-height: 200px;
}

#learning-panels .blind .open {
    display: none;
}

#result-table-title {
    font-size: 20px;
    margin-bottom: 4px;
}

#result-table {
    width: 580px;
    font-size: 14px;
}

#result-table tr {
    height: 21px;
    line-height:21px;
    border-bottom: 1px dotted #bfbfbf;
}

#result-table .spelling-cell {
    width: 80%;
    padding-left: 10px;
}

#result-table .status-cell {
    width: 20%;
}

#result-table .correct {
    color: #16229e;
}

#result-table .mistake {
    color: #9e1616;
}

#result-table tr.correct {
    background-image: url(../images/result-good.png);
    background-repeat: no-repeat;
    background-color: #d9e2ff;
}

#result-table tr.mistake {
    background-image: url(../images/result-bad.png);
    background-repeat: no-repeat;
    background-color: #ffd9df;
}

.word-control-panel {
    display: block;
    border-radius: 4px;
    padding: 5px 0px 5px 0px;
}
/*
.controll-button {
    -moz-box-shadow:
    1px 1px 3px rgba(138,138,138,0.5),
    inset 0px 0px 2px rgba(235,235,235,0);
    -webkit-box-shadow:
    1px 1px 3px rgba(138,138,138,0.5),
    inset 0px 0px 2px rgba(235,235,235,0);
    box-shadow:
    1px 1px 3px rgba(138,138,138,0.5),
    inset 0px 0px 2px rgba(235,235,235,0);
}
*/
.step-button {
    height: 40px;
    width: 70px;
    color: #4c4c4c;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    background-color: #ffffff;
}

.answer-correct-button, .answer-mistake-button {
    height: 40px;
    width: 215px;
}

.send-result-button {
    height: 40px;
    width: 435px;
}

.answer-correct-button, .answer-mistake-button, .send-result-button {
    color: #4c4c4c;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    background-color: #ffffff;
}

.step-button:hover,
.answer-correct-button:hover,
.answer-mistake-button:hover,
.send-result-button:hover {
    -moz-box-shadow:
    0px 1px 3px rgba(95,95,95,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow:
    0px 1px 3px rgba(95,95,95,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow:
    0px 1px 3px rgba(95,95,95,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
}

.step-button:active,
.answer-correct-button:active,
.answer-mistake-button:active,
.send-result-button:active {
    background: #E0DEDE;
}

#quit-learning-label {
    color: #a3a3a3;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#quit-learning-label:hover {
    color: #3d3d3d;
}
