#form {
    display: none;
}

#create-dialog {
    background-color: #f3f3f3;
    -webkit-border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    border: 1px solid #bfbfbf;
    padding: 10px 15px 15px 15px;
    color: #595959;
    overflow: hidden;
}

#create-dialog input {
    color: #232323;
}

#create-form-title {
    font-size: 18px;
    margin-bottom: 15px;
}

#form-input {
    margin: 0px 0px 10px 0px;
}

#form-input td, #tag-form-area td {
    padding: 3px;
}

.form-label-col {
    width: 70px;
}

.form-input-col {
    width: 350px;
}

.form-label {
    vertical-align: top;
    text-align: right;
}

.tags-col {
    width: 100px;
}

.validation-error {
    background-color: #F9ACB8;
}

#word_spelling {
    width: 300px;
}

#word_description {
    width: 300px;
    height: 100px;
    resize: vertical;
}

#tag-text-box {
    width: 220px;
    color: #000000;
}

#tag-text-box.empty {
    color: #595959;
}

#tag-list-for-form {
    border: 1px solid #bfbfbf;
    width: 300px;
    min-height: 23px;
    height: auto !important; /* IE6用 */
    height: 23px; /* IE6用 */
    padding: 3px 3px 0px 3px;
    color: #232323;
    overflow: hidden;
}

#tag-list-for-form .tag-item {
    background-color: #a4c5e3;
    border: 1px solid #51727d;
    padding: 1px 1px 1px 4px;
    display: block;
    font-size: 12px;
}

#tag-list-for-form .tag-li {
    white-space: nowrap;
    display: inline;
    margin: 0px 3px 3px 0px;
    float: left;
}

#tag-add-form {
    float: right;
}

#tag-container {
    float: left;
}

#tag-container .tag-li {
    font-size: 12px;
}

#tag-history-btn {
    padding-top: 2px;
    width: 70px;
}

#tag-list-for-form .tag-label {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#tag-drop-area {
    background-color: #ededed;
    position: absolute;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #bfbfbf;
    padding: 4px 7px 4px 7px;
    width: 200px;
    height: 155px;
    color: #232323;
}

.tag-page-navi {
    position: absolute;
    top: 135px;
    padding-bottom: 10px;
}

.tag-page-navi .ellipse {
    float: left;
}

.tag-page-navi a {
    padding: 3px 5px;
    margin: 2px;
    color: #ffffff;
    text-decoration: none;
    float: left;
    font-size: 11px;
    background-color: #a4c5e3;
}

.tag-page-navi .active_page {
    background-color: white !important;
    color: black !important;
}

.tag-del-btn {
    background: url(../images/tag-x-btn.png) no-repeat 3px 3px;
    min-width: 13px;
    min-height: 13px;
    height: auto !important; /* IE6用 */
    height: 13px; /* IE6用 */
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
    overflow: hidden;
}

.tag-add-btn {
    background: url(../images/tag-add-btn.png) no-repeat 3px 3px;
    min-width: 13px;
    min-height: 13px;
    height: auto !important; /* IE6用 */
    height: 13px; /* IE6用 */
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
    overflow: hidden;
}

#form-msg-area {
    padding: 5px 0px 2px 0px;
    margin: 10px 0px 0px 70px;
    min-height: 15px;
    height: auto !important; /* IE6用 */
    height: 15px; /* IE6用 */
    width: 260px;
    float: left;
}

#form-controls {
    margin: 10px 0px 0px 0px;
    text-align: right;
    width: 50px;
    float: left;
}
#form-sending-img {
    margin: 10px 0px 0px 10px;
    height: 25px;
    float: left;
}

#list {
    margin-bottom: 10px;
}

#list .full-close .description {
    display: none;
}

#list .full-open .description {
    display: block;
}

#list #list-header {
    background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -o-linear-gradient(top, #FEFEFE, #F0F0F0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FEFEFE), color-stop(1.0, #F0F0F0));
    background-color: #F0F0F0;
    margin: 0px 10px 0px 10px;
    padding: 12px 10px 12px 10px;
    -webkit-border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
    border-radius: 9px 9px 0px 0px;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    color: #595959;
    font-size: 153.9%;
}

/* IE9 */
#list #list-header:not(:target) {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMEYwRjAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNDQpIiAvPgo8L3N2Zz4=)\9;
}

#list #list-footer {
    background-color: #ffffff;
    margin: 0px 10px 0px 10px;
    padding: 45px 10px 12px 10px;
    -webkit-border-radius: 0px 0px 9px 9px;
    -moz-border-radius: 0px 0px 9px 9px;
    border-radius: 0px 0px 9px 9px;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    color: #ffffff;
    text-shadow: 1px 1px 0px #595959;
    font-size: 153.9%;
}

.word-card {
    background-color: #ffffff;
    margin: 0px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    /*color: #4c4c4c;*/
    color: #3b3b3b;
}

.word-card .spelling {
    width: 480px;
    margin: 0px 0px 7px 0px;
    font-size: 138.5%;
    float: left;
}

.word-card .description {
    word-wrap: break-word;
    margin: 5px 0px 7px 0px;
    font-size: 108%;
    line-height: 19px;
    clear: both;
}

.word-card .description.blank {
    color: #969696;
}

.word-card-control-holder {
    width: 110px;
    float: right;
    text-align: left;
}

.word-card-control {
    font-size: 12px;
    color: #969696;
    display: inline;
    margin: 0px 6px 0px 0px;
}

.word-card-control.edit-btn:hover, .word-card-control.word-del-btn:hover {
    color: #DB0000;
}

.tag-icon {
    float: left;
    clear: both;
    margin: 0px 8px 0px 0px;
    color: #969696;
}

.word-card-tags-holder {
    width: 460px;
    float: left;
    font-size: 12px;
    color: #969696;
}

.word-card-tags-holder .web-icon, .word-card-tags-holder ul {
    display: inline;
}

.word-card-tags-holder .tag-li {
    white-space: nowrap;
    display: inline;
    margin: 0px 5px 0px 0px;
}

#simplemodal-overlay {
    background-color: #000;
}

#simplemodal-container a.modalCloseImg {
    background: url(../images/close-form.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#list-footer #loading-img {
    text-align: center;
}

.level-status {
    width: 110px;
    height: 17px;
    padding-top: 1px;
    float: right;
}

.level-label {
    color: #969696;
}

.lvProgressBar {
    float: right;
    width: 50px;
    height: 9px;
    border: 1px solid #969696;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    margin-top: 3px;
}

.level-up-btn {
    float: right;
    margin-left: 1px;
    height: 14px;
    width: 12px;
    background: url(../images/level_up.png) no-repeat 3px 3px;
    cursor: pointer;
}

.level-down-btn {
    float: right;
    margin-right: 1px;
    height: 14px;
    width: 12px;
    background: url(../images/level_down.png) no-repeat 0px 3px;
    cursor: pointer;
}

.ui-progressbar-value{
    background: #B7CBE2;
    border-right: none;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}
