<div id="about">
    <ul>
        <li>
        <%= link_to '不具合・ご要望等', 'https://twitter.com/memotan_support' %>
        </li>
        <li>
            &copy 2013 memotan
        </li>
    </ul>
</div>
