<div id="social">
    <div id="social-header" class="side-content-header">
        <span class="web-icon-fontello">s</span>
    </div>
    <div id="social-main" class="side-content-main">
        <ul>
            <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.memotan.com" data-text="単語をメモするアプリ「Memotan」" data-lang="en">ツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
            <div class="fb-like" data-href="http://www.memotan.com" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
            </li>
            <li>
            <a href="http://b.hatena.ne.jp/entry/www.memotan.com" class="hatena-bookmark-button" data-hatena-bookmark-title="Memotan" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </li>
        </ul>
    </div>
</div>
<div id="about">
    <ul>
        <li>
        不具合・ご要望等はこちら↓まで
        </li>
        <li>
        <a href="https://twitter.com/intent/tweet?screen_name=memotan_support" class="twitter-mention-button" data-lang="en" data-related="memotan_support">Tweet to @memotan_support</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
          <a href="./agreement.html">利用規約</a>
        </li>
        <li>
          <a href="./privacy_policy.html">プライバシーポリシー</a>
        </li>
        <li>
            &copy 2013 memotan
        </li>
    </ul>
</div>
