<div id="about">
    <ul>
        <li>
        不具合・ご要望等はこちら↓まで
        </li>
        <li>
        <a href="https://twitter.com/intent/tweet?screen_name=memotan_support" class="twitter-mention-button" data-lang="en" data-related="memotan_support">Tweet to @memotan_support</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
          <a href="./agreement.html">利用規約</a>
        </li>
        <li>
          <a href="./privacy_policy.html">プライバシーポリシー</a>
        </li>
        <li>
            &copy 2013 memotan
        </li>
    </ul>
</div>
