<div id="container">
    <p style="color: Red">
        <%= @error %>
    </p>
    <div id="login-contents">
        <div id="big-icon">
            <img src="./images/notebook.png">
        </div>
        <div id="headline">
            <div id="big-logo">
                <img src="./images/Memotan_big_log.png">
            </div>
            <div>
                単語をメモしておぼえよう。
            </div>
            <div id="user-nav">
                <form action="/auth/twitter" method="GET">
                    <input type="submit" id="twitter-login-button" value="Twitterでログイン">
                </form>
                <form action="/auth/facebook" method="GET">
                    <input type="submit" id="facebook-login-button" value="facebookでログイン">
                </form>
            </div>
        </div>
    </div>
    <div id="apl-3step">
        <div id="step1" class="step-box">
            <div class="step-main-text">
                1. タグで簡単管理
            </div>
            <div class="step-sub-text">
                メモした単語には5つまでタグを付けられます。
            </div>
        </div>
        <div id="step2" class="step-box">
            <div class="step-main-text">
                2. 効率的な学習
            </div>
            <div class="step-sub-text">
                単語に記憶レベルを設定できます。レベルの低い単語を優先的に学習することで、効率的に学習することができます。
            </div>
        </div>
        <div id="step3" class="step-box">
            <div class="step-main-text">
                3. モチベーションアップ
            </div>
            <div class="step-sub-text">
                おぼえた単語の数がレベル別に表示されます。学習の成果が数値に現れるので、学習のモチベーションもアップまちがいなし。
            </div>
        </div>
    </div>
    <div id="footer">
        &copy 2013 memotan
    </div>
</div>
