<div id="container">
    <div id="memotan-logo">
        <img src="./images/Memotan.png">
    </div>
    <div id="login-contents">
        <div id="big-icon">
            <img src="./images/memotan_view_600px.png">
        </div>
        <div id="headline">
            <div id="main-catch-copy">
                語学、<br>
                仕事、<br>
                資格に、
            </div>
            <div id="sub-catch-copy">
                単語をメモするアプリ。
            </div>
            <div id="user-nav">
                <form action="/auth/twitter" method="GET">
                    <div id="twitter-login-button" class="login-button">
                        <div class="web-icon-fontello social-login-icon">l</div>
                        <div class="login-text">Twitterでログイン</div>
                    </div>
                </form>
                <form action="/auth/facebook" method="GET">
                    <div id="facebook-login-button" class="login-button">
                        <div class="web-icon-fontello social-login-icon" class="">m</div>
                        <div class="login-text">facebookでログイン</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="socialbuttons">
        <div class="hatena"></div>
        <div class="facebook"></div>
        <div class="twitter"></div>
    </div>
    <div id="separator">
    </div>
    <div id="apl-3step">
        <div id="step1" class="step-box">
            <div class="step-main-text">
                Speedy
            </div>
            <div class="feature-icon web-icon-fontello">
                p
            </div>
            <div class="step-sub-text">
                めんどうなことは一切なし。<br>今すぐに始められます。
            </div>
        </div>
        <div id="step2" class="step-box">
            <div class="step-main-text">
                Simple
            </div>
            <div class="feature-icon web-icon-fontello">
                q
            </div>
            <div class="step-sub-text">
                シンプルなインターフェースで<br>簡単に使えます。
            </div>
        </div>
        <div id="step3" class="step-box">
            <div class="step-main-text">
                Smart
            </div>
            <div class="feature-icon web-icon-fontello">
                n
            </div>
            <div class="step-sub-text">
                習得度を設定できるから<br>苦手な単語を賢くおぼえられます。
            </div>
        </div>
    <div id="footer">
        <div id="footer-menu">
          <a href="./agreement.html">利用規約</a>
          <span>|</span>
          <a href="./privacy_policy.html">プライバシーポリシー</a>
        </div>
        <div id="copyright">
            &copy 2013 memotan
        </div>
    </div>
    </div>
</div>
