<div id="container">
    <p style="color: Red">
        <%= @error %>
    </p>
    <div id="login-contents">
        <div id="big-icon">
            <img src="./images/memotan_view_600px.png">
        </div>
        <div id="headline">
            <div id="big-logo">
                <img src="./images/Memotan_big_log.png">
            </div>
            <div>
                単語をおぼえるためのアプリ
            </div>
            <div id="user-nav">
                <form action="/auth/twitter" method="GET">
                    <input type="submit" id="twitter-login-button" value="Twitterでログイン">
                </form>
                <form action="/auth/facebook" method="GET">
                    <input type="submit" id="facebook-login-button" value="facebookでログイン">
                </form>
            </div>
        </div>
    </div>
    <div id="separator">
    </div>
    <div id="apl-3step">
        <div id="step1" class="step-box">
            <div class="step-main-text">
                Speedy
            </div>
            <div class="step-sub-text">
                面倒なしで今すぐに
            </div>
        </div>
        <div id="step2" class="step-box">
            <div class="step-main-text">
                Simple
            </div>
            <div class="step-sub-text">
                単語をメモして
            </div>
        </div>
        <div id="step3" class="step-box">
            <div class="step-main-text">
                Smart
            </div>
            <div class="step-sub-text">
                賢くおぼえる
            </div>
        </div>
    <div id="footer">
        &copy 2013 memotan
    </div>
    </div>
</div>
