<div id="container">
    <div id="memotan-logo">
        <img src="./images/Memotan.png">
    </div>
    <div id="login-contents">
        <div id="big-icon">
            <img src="./images/memotan_view_600px.png">
        </div>
        <div id="headline">
            <div id="main-catch-copy">
                語学、<br>
                仕事、<br>
                資格に、
            </div>
            <div id="sub-catch-copy">
                単語をメモするアプリ。
            </div>
            <div id="user-nav">
                <form action="/auth/twitter" method="GET">
                    <div id="twitter-login-button" class="login-button">
                        <div class="web-icon-fontello social-login-icon">l</div>
                        <div class="login-text">Twitterでログイン</div>
                    </div>
                </form>
                <form action="/auth/facebook" method="GET">
                    <div id="facebook-login-button" class="login-button">
                        <div class="web-icon-fontello social-login-icon" class="">m</div>
                        <div class="login-text">facebookでログイン</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="separator">
    </div>
    <div id="apl-3step">
        <div id="step1" class="step-box">
            <div class="step-main-text">
                Speedy
            </div>
            <div class="step-sub-text">
                面倒なしで今すぐに
            </div>
        </div>
        <div id="step2" class="step-box">
            <div class="step-main-text">
                Simple
            </div>
            <div class="step-sub-text">
                単語をメモして
            </div>
        </div>
        <div id="step3" class="step-box">
            <div class="step-main-text">
                Smart
            </div>
            <div class="step-sub-text">
                賢くおぼえる
            </div>
        </div>
    <div id="footer">
        &copy 2013 memotan
    </div>
    </div>
</div>
