<div id="global-nav-holder" class="absolute">
    <div id="global-nav">
        <div id="logo">
            <a href="./words"><img src="/images/Memotan.png"></a>
        </div>
        <ul>
            <li>
            </li>
        </ul>
        <div id="tool-holder">
            <ul>
                <li>
                <div id="create-word-btn" class="tool-btn web-icon-fontello">
                    <div class="icon-text">l</div>
                </div>
                </li>
                <li>
                <div id="list-switch-btn" class="tool-btn web-icon-fontello open-btn">
                    <div class="icon-text">s</div>
                </div>
                </li>
                <li>
                <%= render :partial=>"common/search" %>
                </li>
            </ul>
        </div>
    </div>
</div>
