<!DOCTYPE html>
<html>
<head>
  <title>Memotan</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href="/stylesheets/common-style.css" rel="stylesheet">
  <link href="/stylesheets/jquery.selectbox.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
