<!DOCTYPE html>
<html>
<head>
  <title>Memotan</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href="/stylesheets/login-style.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.socialbutton-1.9.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/login.js"></script>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta name="keywords" content="単語,英語,資格,学習,勉強,メモ" lang="ja">
  <meta name="description" content="Memotanは単語をメモするアプリです。英語や、資格、仕事などにおいて覚えたい単語をメモすることであなたの記憶をサポートします。
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
